$height: 35px;
@mixin commonLink() {
  @apply p-2 truncate cursor-pointer block mx-1;
  height: $height;
}

.link {
  @include commonLink();
  @apply hover:bg-pink-100;
}

.active {
  @include commonLink();
  @apply bg-pink-400 text-white rounded-lg mx-1;
}

.input {
  height: $height;
  @apply w-full px-2;
  input {
    @apply h-full w-full px-2 rounded-md border outline-none;
  }
}
