.contentList-page {
  @apply h-screen text-sm text-slate-700;

  display: grid;
  grid-template: 'list content' auto / 200px auto;

  .list {
    @apply border-r overflow-y-auto;
    grid-area: list;
    a {
      @apply truncate p-1 cursor-pointer flex items-center gap-1 border-b mx-1;
      &.active {
        @apply bg-pink-300 text-white rounded-xl mx-1;
      }
    }
  }
  .content {
    grid-area: content;
    @apply overflow-y-auto;
  }
}
