// 粉色
$pink-background: #ffebf2;
$pink-inputText: #333333;
$pink-inputBackground: #fff0f5;
$pink-searchBackground: #fff0f5;
$pink-searchText: #4b0022;
$pink-searchSelectionBg: #ff80ab;
$pink-searchSelectionText: #ffffff;

// 暗色
$dark-background: #1a1b1e;
$dark-inputText: #e6e6e6;
$dark-inputBackground: #242424;
$dark-searchBackground: #2d2d2d;
$dark-searchText: #adb5bd;
$dark-searchSelectionBg: #3d4d6b;
$dark-searchSelectionText: #ffffff;

// 亮色
$light-background: #f8f9fa;
$light-inputText: #2d3436;
$light-inputBackground: #ffffff;
$light-searchBackground: #e9ecef;
$light-searchText: #495057;
$light-searchSelectionBg: #4dabf7;
$light-searchSelectionText: #ffffff;
